.container {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.image {
    height: 70vh;
    position: relative;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}
.info h1 {
    font-size: 2.5em;
    margin-bottom: 2%;
}
.info p {
    font-size: 1.3em;
}