.container {
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    justify-content: space-between;
    background: #000000;
    min-height: 15vh;
    align-items: center;
}
.icon {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}
.icon svg {
    color: white;
    transition: all 150ms ease-in-out;
}
.icon svg:hover {
    color: #ccc;
}
.info {
    display: flex;
    width: 40%;
    justify-content: space-between;
    text-align: center;
    color: white;
}
.info p {
    font-weight: bold;
    width: 33%;
}
.info a {
    color: #142A4A;
    background-color: white;
    padding: 1%;
    font-weight: bold;
    transition: all 150ms ease-in-out;
}
.info a:hover {
    color: #fff;
    background-color: #142A4A;
}