@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container {
    background-image: url(/cafeParallax.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
}



.containerContent {
    background-color: #b5c6b4c7;
    width: 45%;
    min-height: 77vh;
}


.content {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-top: 10%;
    margin-left: 5%;
    color: #142A4A;
}

.content h1 {
    font-size: 4em;
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;
}
.content p {
    font-size: 1.4em;
    text-align: left;
    width: 65%;
    font-weight: bold;
}