.container {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.image {
    height: 70vh;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}
.image img {
    object-fit: cover;
    transition: all 300ms ease-in-out;
}
.image img:hover {
    transform: scale(1.1);
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}
.info h1 {
    font-size: 2.5em;
    margin-bottom: 2%;
}
.info p {
    font-size: 1.3em;
}